@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*{
	font-family: "CookieRun-Regular";
	margin : 0px;
	padding : 0px;
}

a{
	text-decoration: none;
	color : black;
}
a:hover{
	color: skyblue;
}

.header_logo{
	font-size : 30px;
}
.carousel-item img{
	width : 100%;
}
#cs{
	margin-top : 150px;
}

.item .title {
	font-size: 20px;
	line-height: 100%;
}

.item .content {
	font-size : 12px;
	margin-bottom: 50px;
}
.item .price_yen{
	color: gray;
	text-decoration: line-through;
}
.item .price_yen{
	color: black;
	font-weight: bold;
	font-size: 15px;
	
}
.titleline{
	border-bottom: solid 5px orange;
	width: 200px; 
	margin: 0 auto;
}
.form-control{
	background-color: white !important; /* 중복일경우 !important : 우선 적용*/
}	

.grayline{
	border-bottom: solid 5px #eeeeee;
	border-top: solid 5px #eeeeee;
}
#join input{
	margin : 7px 0;
	height : 50px;
	vertical-align: middle;
	
}
#join button{
	margin : 7px 0;
	height : 50px;
}
#fontbold{
	font-weight: bold;
	line-height: 120%
}
#fontgray{
	color: gray;
}
#line{
	border-top: solid 3px #eeeeee;
	border-bottom : solid 3px #eeeeee;
}
#bottomline{
	border-bottom: solid 3px #eeeeee;
}