@charset "UTF-8";

@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
a{
	text-decoration : none;
	color: black;
}
a:hover {
	color : "skyblue";
}
*{
	font-family: "CookieRun-Regular";
	margin : 0 0 0 0;
	padding : 0 0 0 0;
	/* border : solid 1px red; */
}

#logout{
	color : red;
	font-weight: bold;
}

.boardview_title{
	border-bottom: solid 2px #eeeeee;
}

